# Custom
.editorconfig

# Compiled output
/definitions
/bundles
/dist

# Dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Misc
npm-debug.log
/typings

# System Files
.DS_Store
Thumbs.db