.ds-action-button {
  font-size: var(--action-button-font-size);
  line-height: var(--action-button-line-height);
  font-family: var(--font-family);
  font-weight: 400;
  background-color: var(--action-button-bg-color);
  border-radius: var(--action-button-border-radius);
  padding: var(--action-button-padding);
  color: var(--action-button-color);
  box-shadow: var(--action-button-box-shadow);
  border: var(--action-button-border);
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 10px;
  transition: transform .15s ease;
  -webkit-font-smoothing: auto;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.ds-wrapper--pr .ds-action-button {
  margin-left: 10px;
}

.ds-wrapper--pl .ds-action-button {
  margin-right: 10px;
}
