.ds-action-button-group {
  display: flex;
  box-sizing: border-box;
  padding: 15px 0 0;
  flex-wrap: wrap;
  margin-bottom: -15px;
  overflow-y: hidden;
  transition: all .3s ease;
  // transition: all .5s cubic-bezier(0, 1, 0.5, 1);
  max-height: 147px;
}

.ds-wrapper--pr .ds-action-button-group {
  justify-content: flex-end;
}

.ds-wrapper--pl .ds-action-button-group {
  justify-content: flex-start;
}
