.ds-widget {
  opacity: 0;
  font-family: var(--font-family);
  line-height: 1.6;

  &--visible {
    opacity: 1;
  }

  &-fx {
    &--fade {
      animation: widgetFade 0.25s ease both;
    }

    &--zoom {
      animation: widgetZoom 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    &--fade-bottom {
      animation: fadeBottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    &--bounce-in-right {
      animation: bounceInRight 1.1s both;
    }

    &--pulse {
      animation: attentionPulse 1.5s both;
    }

    &--bounce {
      animation: attentionBounce 1s both;
    }
  }
}
