.ds-widget {
  opacity: 0;

  &--visible {
    opacity: 1;
  }

  &-fx {
    &--fade {
      animation: widgetFade .25s ease both;
    }

    &--zoom {
      animation: widgetZoom .25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    &--fade-bottom {
      animation: fadeBottom .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    &--bounce-in-right {
      animation: bounceInRight 1.1s both;
    }
  }
}
