.ds-button {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: var(--button-bg-color);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.25s ease,
    opacity 0.25s ease,
    transform 0.25s ease;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px 1px;
  position: fixed;
  bottom: var(--base-margin-bottom);
  z-index: 20;


  &--icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
  }

  &--icon-container > svg {
    color: var(--button-icon-color);
    height: 30px;
    width: 31px;
  }

  &:after {
    content: '';
    width: 60px;
    height: 60px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTkuMzMzNyAyLjU0NjY5TDE3LjQ1MzcgMC42NjY2ODdMMTAuMDAwMyA4LjEyMDAyTDIuNTQ2OTkgMC42NjY2ODdMMC42NjY5OTIgMi41NDY2OUw4LjEyMDMzIDEwTDAuNjY2OTkyIDE3LjQ1MzRMMi41NDY5OSAxOS4zMzM0TDEwLjAwMDMgMTEuODhMMTcuNDUzNyAxOS4zMzM0TDE5LjMzMzcgMTcuNDUzNEwxMS44ODAzIDEwTDE5LjMzMzcgMi41NDY2OVoiIGZpbGw9IndoaXRlIi8+PG1hc2sgaWQ9Im1hc2swIiBtYXNrLXR5cGU9ImFscGhhIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4PSIwIiB5PSIwIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiPjxwYXRoIGQ9Ik0xOS4zMzM3IDIuNTQ2NjlMMTcuNDUzNyAwLjY2NjY4N0wxMC4wMDAzIDguMTIwMDJMMi41NDY5OSAwLjY2NjY4N0wwLjY2Njk5MiAyLjU0NjY5TDguMTIwMzMgMTBMMC42NjY5OTIgMTcuNDUzNEwyLjU0Njk5IDE5LjMzMzRMMTAuMDAwMyAxMS44OEwxNy40NTM3IDE5LjMzMzRMMTkuMzMzNyAxNy40NTM0TDExLjg4MDMgMTBMMTkuMzMzNyAyLjU0NjY5WiIgZmlsbD0id2hpdGUiLz48L21hc2s+PGcgbWFzaz0idXJsKCNtYXNrMCkiPjwvZz48L3N2Zz4=');
    opacity: 0;
    display: block;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.16s linear, opacity 0.08s linear;
    transform: rotate(-30deg);
  }

  &--with-text {
    width: auto;
    padding-left: 65px;
    padding-right: 20px;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    font-family: var(--ds-font-family);
    -webkit-font-smoothing: auto;
  }

  &--active {
    background-image: none;

    &:before {
      opacity: 0;
      transform: rotate(30deg) scale(0);
    }

    &:after {
      opacity: 1;
      transform: rotate(0);
    }
  }

  &--hidden {
    opacity: 0;
    transform: scale(0.9);
  }

  &--pulse {
    animation: ds-pulse 1.5s infinite;
  }
}

.ds-wrapper {
  &--pl {
    .ds-button {
      left: var(--base-margin-left);
    }
  }

  &--pr {
    .ds-button {
      right: var(--base-margin-right);
    }
  }
}

@media (max-width: 576px) {
  .ds-button {
    bottom: var(--base-margin-bottom-mobile);
  }

  .ds-whatsapp--opened {
    .ds-button {
      display: none !important;
    }
  }

  .ds-wrapper {
    &--pl {
      .ds-button {
        left: var(--base-margin-left-mobile);

        &--active {
          top: 10px;
          right: 10px;
        }
      }
    }

    &--pr {
      .ds-button {
        right: var(--base-margin-right-mobile);

        &--active {
          top: 10px;
        }
      }
    }
  }

  .ds-button--active {
    z-index: 40;
    -webkit-tap-highlight-color: transparent;
    transition: none;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: none;
    width: 36px;
    height: 36px;
    background-color: rgba(85, 85, 85, 0.6) !important;
    background-size: 18px;

    &:before {
      opacity: 0;
      transform: rotate(30deg) scale(0);
    }

    &:after {
      opacity: 1;
      transform: rotate(0);
      width: 36px;
      height: 36px;
    }

    .ds-button__content {
      display: none;
    }

    &.ds-button--with-text {
      padding-left: 0;
      padding-right: 0;
      width: 36px;
    }
  }

  .ds-button--active:before {
    display: none;
  }

  .ds-button--active:after {
    transition: none;
  }
}

@keyframes hideAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}
