.ds-content-wrapper {
  position: fixed;
  max-width: 300px;
  bottom: calc(80px + var(--base-margin-bottom));
  z-index: 20;
  right: var(--base-margin-right);
}

.ds-wrapper--pr .ds-content-wrapper {
  right: var(--base-margin-right);
}

.ds-wrapper--pl .ds-content-wrapper {
  left: var(--base-margin-left);
}

@media (max-width: 576px) {
  .ds-wrapper {
    .ds-content-wrapper {
      max-width: 250px;
      bottom: calc(80px + var(--base-margin-bottom-mobile));
    }

    &--pl {
      .ds-content-wrapper {
        left: var(--base-margin-left-mobile);
      }
    }

    &--pr {
      .ds-content-wrapper {
        right: var(--base-margin-right-mobile);
      }
    }
  }
}
