@keyframes widgetFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes widgetZoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeBottom {
  0% {
    opacity: 0;
    transform: translateY(72px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceInRight {
  0% {
    transform: translateX(600px);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    transform: translateX(68px);
    animation-timing-function: ease-in;
  }

  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }

  81% {
    transform: translateX(32px);
    animation-timing-function: ease-in;
  }

  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }

  95% {
    transform: translateX(8px);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes attentionPulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  50% {
    transform: scale(1);
    box-shadow: 0 0 2px 15px rgba(0, 0, 0, 0);
  }

  80% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.2);
  }
}

@keyframes attentionBounce {
  0% {
    transform: translateX(30px);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    transform: translateX(15px);
    animation-timing-function: ease-in;
  }

  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }

  81% {
    transform: translateX(10px);
    animation-timing-function: ease-in;
  }

  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }

  95% {
    transform: translateX(5px);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
