.ds-unread {
  position: fixed;
  bottom: 60px;
  border-radius: 11px;
  background-color: var(--brand-green);
  color: #fff;
  padding: 3px 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  min-width: 8px;
  text-align: center;
  transition: opacity 0.15s;
}

.ds-wrapper--pr .ds-unread {
  right: 25px;
}

.ds-wrapper--pl .ds-unread {
  left: 25px;
}

@media (max-width: 576px) {
  .ds-wrapper {
    &--pl {
      .ds-teaser {
        left: 15px;
      }
    }

    &--pr {
      .ds-teaser {
        right: 15px;
      }
    }
  }
}
