.ds-unread {
  position: fixed;
  bottom: calc(43px + var(--base-margin-bottom));
  border-radius: 50%;
  background-color: var(--unread-bg-color);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px;
  min-width: 21px;
  min-height: 21px;
  z-index: 30;

  &__content {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    font-family: var(--font-family);
    -webkit-font-smoothing: auto;
    font-weight: 400;
    text-align: center;
  }
}

.ds-wrapper--pr .ds-unread {
  right: var(--base-margin-right);
}

.ds-wrapper--pl .ds-unread {
  left: var(--base-margin-left);
}

@media (max-width: 576px) {
  .ds-unread {
    bottom: calc(43px + var(--base-margin-bottom-mobile));
  }

  .ds-wrapper {
    &--pl {
      .ds-unread {
        left: var(--base-margin-left-mobile);
      }
    }

    &--pr {
      .ds-unread {
        right: var(--base-margin-right-mobile);
      }
    }
  }
}
