.ds-unread {
  position: fixed;
  bottom: 63px;
  border-radius: 50%;
  background-color: var(--unread-bg-color);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px;
  font-size: 12px;
  line-height: 20px;
  font-family: var(--font-family);
  -webkit-font-smoothing: auto;
  font-weight: 400;
  min-width: 21px;
  min-height: 21px;
  text-align: center;
  transition: opacity 0.15s;
  z-index: 30;
}

.ds-wrapper--pr .ds-unread {
  right: 20px;
}

.ds-wrapper--pl .ds-unread {
  left: 20px;
}

@media (max-width: 576px) {
  .ds-wrapper {
    &--pl {
      .ds-teaser {
        left: 10px;
      }
    }

    &--pr {
      .ds-teaser {
        right: 10px;
      }
    }
  }
}
