version: 2
jobs:
  build_dev:
    docker:
      - image: ghcr.io/dialogshift-organization/dialogshift-webchat-sdk:latest
    working_directory: ~/ds-sdk
    steps:
      - checkout
      - run: cp src/scripts/config/env.dev.ts src/scripts/config/env.ts
      - run: npm install
      - run: npm run test
      - run: npm run build
      - run: uglifyjs bundles/dialogshift-webchat-sdk.umd.js -o bundles/dialogshift-webchat-sdk.umd.min.js
      - run: mkdir sdk
      - run: mkdir sdk/$(jq -r '.version' package.json)
      - run: cp bundles/* sdk/$(jq -r '.version' package.json)
      - run: aws s3 sync sdk s3://webchat.dev.co25.net/sdk --region eu-central-1
      - run: aws s3 sync bundles s3://webchat.dev.co25.net/sdk/latest --region eu-central-1

  build_stage:
    docker:
      - image: ghcr.io/dialogshift-organization/dialogshift-webchat-sdk:latest
    working_directory: ~/ds-sdk
    steps:
      - checkout
      - run: cp src/scripts/config/env.stage.ts src/scripts/config/env.ts
      - run: npm install
      - run: npm run test
      - run: npm run build
      - run: uglifyjs bundles/dialogshift-webchat-sdk.umd.js -o bundles/dialogshift-webchat-sdk.umd.min.js
      - run: mkdir sdk
      - run: mkdir sdk/$(jq -r '.version' package.json)
      - run: cp bundles/* sdk/$(jq -r '.version' package.json)
      - run: aws s3 sync sdk s3://webchat.stage.co25.net/sdk --region eu-central-1
      - run: aws s3 sync bundles s3://webchat.stage.co25.net/sdk/latest --region eu-central-1

  build_prod:
    docker:
      - image: ghcr.io/dialogshift-organization/dialogshift-webchat-sdk:latest
    working_directory: ~/ds-sdk
    steps:
      - checkout
      - run: cp src/scripts/config/env.prod.ts src/scripts/config/env.ts
      - run: npm install
      - run: npm run test
      - run: npm run build
      - run: uglifyjs bundles/dialogshift-webchat-sdk.umd.js -o bundles/dialogshift-webchat-sdk.umd.min.js
      - run: mkdir sdk
      - run: mkdir sdk/$(jq -r '.version' package.json)
      - run: cp bundles/* sdk/$(jq -r '.version' package.json)
      - run: aws s3 sync sdk s3://webchat.prod.co25.net/sdk --region eu-central-1
      - run: aws s3 sync bundles s3://webchat.prod.co25.net/sdk/latest --region eu-central-1

workflows:
  version: 2

  sa_build_deploy:
    jobs:
      - build_dev:
          filters:
            branches:
              only: develop

      - build_stage:
          filters:
            branches:
              only: stage

      - build_prod:
          filters:
            branches:
              only: master
