:root {
  --font-family: 'Open Sans', sans-serif;

  --teaser-box-shadow: rgba(35, 47, 53, 0.1) 0px 2px 8px 0px;
  --teaser-bg-color: #fff;
  --teaser-border-radius: 6px;
  --teaser-padding: 15px 20px;
  --teaser-close-bg-color: var(--grey);
  --teaser-close-bg-color-hover: var(--grey-medium);
  --teaser-font-size: 15px;
  --teaser-line-height: 1.8;

  --button-bg-color: var(--blue);

  --unread-bg-color: var(--red);
}