@import 'common/colors';

@import 'widgets/wrapper';
@import 'widgets/chat';
@import 'widgets/button';
@import 'widgets/iframe';
@import 'widgets/teaser';
@import 'widgets/unread';

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
