@import 'common/font';
@import 'common/colors';

@import 'themes/base';
@import 'themes/round';
@import 'themes/tile';

@import 'widgets/base';
@import 'widgets/fx';
@import 'widgets/wrapper';
@import 'widgets/chat';
@import 'widgets/button';
@import 'widgets/iframe';
@import 'widgets/teaser';
@import 'widgets/unread';
@import 'widgets/content-wrapper';
@import 'widgets/action-button-group';
@import 'widgets/action-button';

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.7);
  }

  70% {
    box-shadow: 0 0 0 15px rgba(204, 169, 44, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
