:root {
  --dark: #3a3f45;
  --blue: #3097EF;
  --link: #4886ef;
  --red: #cf2329;
  --grey-pale: #f6f8f9;
  --grey-light: #dcdcdc;
  --grey: #d5d5d5;
  --grey-light-medium: #b0b0b0;
  --grey-medium: #939393;
  --white: #ffffff;
}
